In [1]:
a = [1, 2, 3]
b = a

In [2]:
print(a)
print(b)

[1, 2, 3]
[1, 2, 3]

In [3]:
b.append(4)

In [4]:
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [7]:
assert a is b
assert a == [1, 2, 3, 4]

In [8]:
# tuples are immutable

tuple1 = (0, 1, 2, 3)
tuple1[0] = 4
print(tuple1)

TypeError: 'tuple' object does not support item assignment

In [9]:
# strings are immutable

message = "Welcome to GeeksforGeeks"
message[0] = 'p'
print(message)

TypeError: 'str' object does not support item assignment

In [11]:
# Immutable Examples

# int
x = 10
print("int before:", id(x))
x += 1
print("int after :", id(x))  # Different ID → new object

# float
f = 3.14
print("\nfloat before:", id(f))
f *= 2
print("float after :", id(f))

# bool
b = True
print("\nbool before:", id(b))
b = not b
print("bool after :", id(b))

# str
s = "hello"
print("\nstr before:", id(s))
s += " world"
print("str after :", id(s))

# tuple
t = (1, 2, 3)
print("\ntuple before:", id(t))
t += (4,)
print("tuple after :", id(t))

# frozenset
fs = frozenset([1, 2])
print("\nfrozenset before:", id(fs))
fs = fs.union([3])
print("frozenset after :", id(fs))

# bytes
by = b"abc"
print("\nbytes before:", id(by))
by += b"d"
print("bytes after :", id(by))

int before: 10758024
int after : 10758056

float before: 136489523806832
float after : 136489523821328

bool before: 9696896
bool after : 9623328

str before: 136490457202160
str after : 136489521431152

tuple before: 136489522787328
tuple after : 136489522454480

frozenset before: 136489522337536
frozenset after : 136489522335296

bytes before: 136489525982336
bytes after : 136489539966208

In [12]:
# Mutable Examples

# list
lst = [1, 2, 3]
print("list before:", id(lst), lst)
lst.append(4)
print("list after :", id(lst), lst)  # Same ID, contents changed

# dict
d = {"a": 1, "b": 2}
print("\ndict before:", id(d), d)
d["c"] = 3
print("dict after :", id(d), d)

# set
st = {1, 2, 3}
print("\nset before:", id(st), st)
st.add(4)
print("set after :", id(st), st)

# bytearray
ba = bytearray(b"abc")
print("\nbytearray before:", id(ba), ba)
ba[0] = 100  # 'd' in ASCII
print("bytearray after :", id(ba), ba)

# custom class instances
class MyClass:
    def __init__(self, value):
        self.value = value

obj = MyClass(10)
print("\ncustom class before:", id(obj), obj.value)
obj.value += 5
print("custom class after :", id(obj), obj.value)

list before: 136489521487680 [1, 2, 3]
list after : 136489521487680 [1, 2, 3, 4]

dict before: 136489522695232 {'a': 1, 'b': 2}
dict after : 136489522695232 {'a': 1, 'b': 2, 'c': 3}

set before: 136489522340672 {1, 2, 3}
set after : 136489522340672 {1, 2, 3, 4}

bytearray before: 136489521488880 bytearray(b'abc')
bytearray after : 136489521488880 bytearray(b'dbc')

custom class before: 136489522535632 10
custom class after : 136489522535632 15

In [13]:
# Identity vs Equality vs Aliasing

# --- Identity (is) ---
a = [1, 2, 3]
b = a          # same object
c = [1, 2, 3]  # different object but same contents

print("a is b:", a is b)   # True  → same object in memory
print("a is c:", a is c)   # False → different object
print("id(a):", id(a))
print("id(b):", id(b))
print("id(c):", id(c))

# --- Equality (==) ---
print("\na == b:", a == b)  # True → same values
print("a == c:", a == c)    # True → same values even though different objects

# --- Aliasing (mutability side effect) ---
print("\nBefore change: a =", a, ", b =", b)
b.append(4)   # modifies 'a' too, since b is an alias
print("After change : a =", a, ", b =", b)

# --- Aliasing bug with mutable default ---
def append_item(item, lst=[]):  # BAD: default list reused across calls
    lst.append(item)
    return lst

print("\nFirst call :", append_item(1))  # [1]
print("Second call:", append_item(2))    # [1, 2]  ← unexpected if you wanted a fresh list

# Correct way: use None and create inside
def append_item_safe(item, lst=None):
    if lst is None:
        lst = []
    lst.append(item)
    return lst

print("\nSafe first call :", append_item_safe(1))  # [1]
print("Safe second call:", append_item_safe(2))    # [2]

a is b: True
a is c: False
id(a): 136489522544384
id(b): 136489522544384
id(c): 136489521491264

a == b: True
a == c: True

Before change: a = [1, 2, 3] , b = [1, 2, 3]
After change : a = [1, 2, 3, 4] , b = [1, 2, 3, 4]

First call : [1]
Second call: [1, 2]

Safe first call : [1]
Safe second call: [2]

In [14]:
import copy

# Original nested list
original = [[1, 2], [3, 4]]

# --- Shallow copies ---
shallow1 = list(original)       # Using list()
shallow2 = original.copy()      # Using .copy()
shallow3 = copy.copy(original)  # Using copy.copy()

# --- Deep copy ---
deep1 = copy.deepcopy(original)

print("Original   :", original)
print("Shallow1   :", shallow1)
print("Shallow2   :", shallow2)
print("Shallow3   :", shallow3)
print("Deep1      :", deep1)

# --- Mutate a nested object in 'original' ---
original[0].append(99)

print("\nAfter modifying original[0]:")
print("Original   :", original)
print("Shallow1   :", shallow1)  # Changed too → nested object shared
print("Shallow2   :", shallow2)  # Changed too → nested object shared
print("Shallow3   :", shallow3)  # Changed too → nested object shared
print("Deep1      :", deep1)     # Unchanged → fully independent

Original   : [[1, 2], [3, 4]]
Shallow1   : [[1, 2], [3, 4]]
Shallow2   : [[1, 2], [3, 4]]
Shallow3   : [[1, 2], [3, 4]]
Deep1      : [[1, 2], [3, 4]]

After modifying original[0]:
Original   : [[1, 2, 99], [3, 4]]
Shallow1   : [[1, 2, 99], [3, 4]]
Shallow2   : [[1, 2, 99], [3, 4]]
Shallow3   : [[1, 2, 99], [3, 4]]
Deep1      : [[1, 2], [3, 4]]

In [15]:
# --- int: arbitrary precision ---
big_int = 10**100  # 1 followed by 100 zeros
print("int:", big_int)
print("Type:", type(big_int))

# No overflow: we can keep going as big as memory allows
print("int + 1:", big_int + 1)

# --- float: IEEE 754 double precision ---
f = 3.141592653589793
print("\nfloat:", f)
print("Type :", type(f))

# Floats can lose precision for very large numbers
print("Large float precision loss:", 1.234567890123456789e20)

# --- complex: a + bj ---
z = 3 + 4j
print("\ncomplex:", z)
print("Real part:", z.real)
print("Imag part:", z.imag)
print("Magnitude:", abs(z))  # sqrt(3^2 + 4^2)

# --- bool: subclass of int ---
print("\nbool True  :", True, "as int →", int(True))
print("bool False :", False, "as int →", int(False))

# True behaves like 1, False like 0
print("True + True =", True + True)   # 1 + 1 = 2
print("True == 1   :", True == 1)
print("isinstance(True, int):", isinstance(True, int))

int: 10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
Type: <class 'int'>
int + 1: 10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001

float: 3.141592653589793
Type : <class 'float'>
Large float precision loss: 1.2345678901234568e+20

complex: (3+4j)
Real part: 3.0
Imag part: 4.0
Magnitude: 5.0

bool True  : True as int → 1
bool False : False as int → 0
True + True = 2
True == 1   : True
isinstance(True, int): True

In [18]:
# --- Operator precedence demo ---
# Highest precedence: **
print("Exponentiation:", 2 ** 3 ** 2)  # 2 ** (3 ** 2) = 2 ** 9 = 512

# Unary + and -
print("Unary minus:", -5)
print("Unary plus :", +5)

# Multiplication / Division / Floor division / Modulus
print("7 / 2   =", 7 / 2)     # True division → 3.5
print("7 // 2  =", 7 // 2)    # Floor division → 3
print("-7 // 2 =", -7 // 2)   # Floor division toward -∞ → -4
# −7 ÷ 2 = −3.5
# The next lower integer less than -3.5 is -4, not -3.
print("7 % 2   =", 7 % 2)     # Remainder → 1

# Addition and subtraction
print("5 + 3   =", 5 + 3)
print("5 - 3   =", 5 - 3)

# Comparisons
print("3 < 5  =", 3 < 5)
print("3 == 5 =", 3 == 5)

# Logical not, and, or
print("not True     =", not True)
print("True and False =", True and False)
print("True or False  =", True or False)

# Precedence in action
expr1 = 2 + 3 * 4       # * has higher precedence than +
expr2 = (2 + 3) * 4     # parentheses change order
print("\n2 + 3 * 4     =", expr1)  # 14
print("(2 + 3) * 4     =", expr2)  # 20

# Complex example using precedence order:
result = not (2 + 3 * 2 > 10) and True or False
print("\nComplex precedence result:", result)

Exponentiation: 512
Unary minus: -5
Unary plus : 5
7 / 2   = 3.5
7 // 2  = 3
-7 // 2 = -4
7 % 2   = 1
5 + 3   = 8
5 - 3   = 2
3 < 5  = True
3 == 5 = False
not True     = False
True and False = False
True or False  = True

2 + 3 * 4     = 14
(2 + 3) * 4     = 20

Complex precedence result: True

In [22]:
from decimal import Decimal, getcontext
from fractions import Fraction

# --- Decimal for high-precision floating-point math ---
# Default float problem:
print("0.1 + 0.2 =", 0.1 + 0.2)
print("0.1 + 0.2 == 0.3 ?", 0.1 + 0.2 == 0.3)  # False (due to binary float rounding)

# Increase precision for Decimal
getcontext().prec = 50

# Using Decimal avoids the binary floating-point issue
d_sum = Decimal("0.1") + Decimal("0.2")
print("\nDecimal sum:", d_sum)
print("Decimal exact equality:", d_sum == Decimal("0.3"))  # True

# --- Fraction for exact rational arithmetic ---
f_sum = Fraction(1, 3) + Fraction(1, 6)  # 1/3 + 1/6 = 1/2
print("\nFraction sum:", f_sum)          # Fraction(1, 2)
print("As float   :", float(f_sum))      # 0.5

0.1 + 0.2 == 0.3 ? False
0.1 + 0.2 = 0.30000000000000004

Decimal sum: 0.3
Decimal exact equality: True

Fraction sum: 1/2
As float   : 0.5

In [23]:
abs((0.1 + 0.2) - 0.3) < 1e-9  # tolerant compare

True

In [24]:
# --- Creating & Escapes ---
s = "Hello\n\tWorld"
print("With escapes:")
print(s)  # \n → newline, \t → tab

# Raw string: backslashes are kept literally (no escape processing)
raw = r"C:\\path\\file.txt"
print("\nRaw string:", raw)

# Triple-quoted: allows multi-line strings
multi = """Triple-quoted
multiline string"""
print("\nTriple-quoted string:")
print(multi)

With escapes:
Hello
	World

Raw string: C:\\path\\file.txt

Triple-quoted string:
Triple-quoted
multiline string

In [25]:
# --- Indexing & Slicing ---
s = "Python"

# Indexing
print("\nFirst char  :", s[0])   # 'P'
print("Last char   :", s[-1])    # 'n'

# Slicing: [start:end] (end excluded)
print("s[1:4]      :", s[1:4])   # 'yth'

# Step slicing: [start:end:step]
print("s[::-1]     :", s[::-1])  # reversed → 'nohtyP'

First char  : P
Last char   : n
s[1:4]      : yth
s[::-1]     : nohtyP

In [26]:
# --- Immutability ---
# Strings can't be changed in place — operations make new objects.
s = "Hello"
print("Original id:", id(s))
s = s + " World"   # Creates a new string
print("After concat id:", id(s))

# Efficient concatenation
parts = ["a", "b", "c"]
joined = "".join(parts)  # Preferred for repeated concatenation
print("\nJoin result:", joined)  # 'abc'

Original id: 136489521777520
After concat id: 136489522783920

Join result: abc

In [27]:
# --- Common Methods ---
print("\nStrip spaces:", "  hi  ".strip())                   # 'hi'
print("Lower & startswith:", "Spam".lower().startswith("s")) # True
print("Split on comma:", "eggs,ham".split(","))              # ['eggs', 'ham']
print("Join with comma:", ",".join(["x", "y"]))              # 'x,y'

# Formatting
print("Format method :", "Pi={:.3f}".format(3.14159))        # Pi=3.142
print("f-string      :", f"Pi={3.14159:.3f}")                # Pi=3.142

Strip spaces: hi
Lower & startswith: True
Split on comma: ['eggs', 'ham']
Join with comma: x,y
Format method : Pi=3.142
f-string      : Pi=3.142

In [28]:
# --- Encoding & Decoding ---
# Encode str (Unicode) → bytes
data = "नमस्ते".encode("utf-8")
print("\nEncoded bytes:", data)

# Decode bytes → str
text = data.decode("utf-8")
print("Decoded text :", text)

# Pitfall: Keep internal processing as str, only encode/decode at boundaries
# Example: reading/writing files, network I/O

Encoded bytes: b'\xe0\xa4\xa8\xe0\xa4\xae\xe0\xa4\xb8\xe0\xa5\x8d\xe0\xa4\xa4\xe0\xa5\x87'
Decoded text : नमस्ते

In [29]:
# --- Truthiness in Python ---
falsy_values = [0, 0.0, 0j, "", [], {}, set(), range(0), None, False]
truthy_values = [1, 3.14, "hi", [1], {"a": 1}, {1}, range(1), True]

print("Falsy examples:")
for v in falsy_values:
    print(f"{repr(v):<10} →", bool(v))  # All False

print("\nTruthy examples:")
for v in truthy_values:
    print(f"{repr(v):<10} →", bool(v))  # All True

# --- Ternary conditional expression ---
result = True
msg = "OK" if result else "FAIL"
print(f"\nresult={result} → msg={msg}")

result = False
msg = "OK" if result else "FAIL"
print(f"result={result} → msg={msg}")

Falsy examples:
0          → False
0.0        → False
0j         → False
''         → False
[]         → False
{}         → False
set()      → False
range(0, 0) → False
None       → False
False      → False

Truthy examples:
1          → True
3.14       → True
'hi'       → True
[1]        → True
{'a': 1}   → True
{1}        → True
range(0, 1) → True
True       → True

result=True → msg=OK
result=False → msg=FAIL

In [30]:
# --- Exercises ---
# 1. Write `safe_div(a, b, *, eps=1e-12)` that returns `a/b` but uses `math.isclose(b, 0, abs_tol=eps)` to avoid division by near-zero.
# 2. Implement `normalize_spaces(s)` that collapses all whitespace runs to a single space without regex.
# 3. Create `precise_sum(iterable)` using `math.fsum` and compare with built-in `sum` on floats.
# 4. Implement `slugify(text)` handling Unicode normalization (hint: `unicodedata.normalize`).